*{
    font-family: sans-serif;
}
.nav-bar {
  overflow: hidden;
  margin-top: 3%;
}
.section1{
    margin-top: 2%;
    margin-left: 5%;
    width: 80%;
    padding: 20px 30px;
    background-color: rgb(207, 204, 204);
}
.section2{
    display:flex;
    margin-top: 30px;
    margin-left: 80px;
}
.align{
    display: block;
    padding: 20px 20px;
    width:250px;
    height:100px;
    margin-right: 80px;
    background-color:rgb(207, 204, 204) ;
}
.align2{
    text-align: center;
    padding: 20px 20px;
    width:200px;
    height:300px;
    margin-right: 80px;
}
.last{
    background-color: rgb(207, 204, 204);
    width: 80%;
    padding: 1% 2%;
    margin-left: 6%;
    justify-content: center;
}
button.c{
    margin-left: 10px;
    padding: 1% 5%;
    color:white;
    background-color: rgb(56, 159, 243);
}
.last h3{
    font-size: 30px;
}
.shift{
    margin-left: 20%;
}
ul {
  float: right;
}
li {
  float: left;
  list-style-type: none;
  padding-right: 15px;
}
h1{
    margin-left: 6%;
}
input{
    width: 40%;
    height: 30px;
}
footer{
    margin-top: 1%;
}
.left{
    margin-left: 7%;
   
}
.right{
    margin-left: 55%;
}
@media screen and (max-width: 600px) {   .section2 {     display: block; 
       width: 100%;  
          margin: 4% 0 2% 0;     
          padding: 0;   }  
           .section2 .m {  
                  width: 80%;   
                    padding: 0 10%;   
                }
            }
            @media screen and (max-width: 900px) {   .section2 {     display: block; 
                width: 100%;  
                   margin: 4% 0 2% 0;     
                   padding: 0;   }  
                    .section2 .m {  
                           width: 80%;   
                             padding: 0 10%;   
                         }
                     }